<!DOCTYPE html>
{% extends "user_auth/base.html" %}
{% load staticfiles %}
  {% block body_block %}
  <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>  
  <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/index.js' %}">
  </script>
  <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-3">
        <nav >
          <div class="span2" id='root'>
              <div class="category panel panel-primary">
                  <div class="panel-heading">
                      <strong>Categories</strong>
                  </div>
                  <div class="panel body categories">
                      <form onSubmit="appendToCategoryList();return false;" class="fixed" method="POST" id="category-form">
                        {% csrf_token %}
                          <div class="form-group">
                              <input class="form-control" placeholder="Food" type="text" id="category-input" autocomplete="off"/>
                          </div>
                      </form>
                      <div class="list-group" id="category-list">
                      </div>
                  </div>
              </div>
              <div>
                <strong>Past Expenses</strong>
              </div>
              <div class="panel-group" id="accordion">
                
              </div>
          </div>
        </nav>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-9">
        <div class='expense panel panel-primary'>
            <div class='panel-heading'><strong><h1 id="dash-head">Expenses</h1></strong></div>
            <div class='panel-body expenses'>
                <table id="expense-table" class="table table-striped table-hover">
                  <thead>
                      <tr>
                          <th></th>
                          <th>Description</th>
                          <th>Amount</th>
                          <th>Date</th>
                        </tr>
                  </thead>
                  <tbody id="expense-table-body">
                    
                  </tbody>
                  <tr>
                    <td>
                      <b><i>Total:</i></b> <i>$<span id="total">0.00</span></i>
                    </td>
                  </tr>
                </table>
            </div>
          </div>
          <div class='addexpense panel panel-primary' id="expenseFormDiv">
            <div class='panel-heading'><strong><h4>Add Expense</h4></strong></div>
            <div class="panel-body addexpense">
              <form onSubmit="addExpense();return false;" id="expenseForm" class="form-inline">
                  <div class="form-group">
                    <div class="col-4">
                        <input class="form-control" placeholder="Description" type="text" name="description" id="description-input" autocomplete="off"/>
                        <input class="form-control" placeholder="$35.00" type="number" step="0.01" name="amount" />
                        <input class="form-control" type="date" name="date" />
                      <button type="submit" class="btn btn-default" name="submit">Submit</button>
                    </div>
                  </div>
              </form>
            </div>
          </div>
      </div>
      </div>
    </div>
    <script>
    $(function () {
        $.ajaxSetup({
            headers: { "X-CSRFToken": Cookies.get("csrftoken") }
        });
    });
</script> 
  {% endblock %}